<h1>商品列表</h1><a class="btn btn-primary">登录京东账号</a>
<div class="row">
    <div class="col-md-2">
        <label>折扣上限:</label>
    </div>
    <div class="col-md-4">
        <label>折后价区间:</label>
    </div>
    <div class="col-md-4">
        <label>原价区间:</label>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <input class="form-control" ng-model="itemFilter.maxRate" placeholder="请输入折扣上限"/>
    </div>
    <div class="col-md-2">
        <input class="form-control" ng-model="itemFilter.minRealPrice" placeholder="请输入折后价下限"/>
    </div>
    <div class="col-md-2">
        <input class="form-control" ng-model="itemFilter.maxRealPrice" placeholder="请输入折后价上限"/>
    </div>
    <div class="col-md-2">
        <input class="form-control" ng-model="itemFilter.minOriginalPrice" placeholder="请输入原价下限"/>
    </div>
    <div class="col-md-2">
        <input class="form-control" ng-model="itemFilter.maxOriginalPrice" placeholder="请输入原价上限"/>
    </div>
</div>
<br/>
<input placeholder="请输入关键字过滤" class="form-control" ng-model="itemFilter.filter"/>
<br/>
<uib-tabset >
    <uib-tab ng-repeat="group in groups">
        <uib-tab-heading>
            <h4>
                <i class="glyphicon glyphicon-bell"></i>
                时间:
                {{group.name}}
            </h4>
        </uib-tab-heading>
        <div class="row">
            <div class="col-md-3" ng-repeat-start="item in group.filtered=( group.itemList | filter:itemFilter.filter |filter :filterByPrice) track by $index">
                <h5>
                    <a ng-href="{{item.itemUrl}}" target="_blank">{{item.name}}</a>
                </h5>
                <label class="label label-info">{{item.rate}}</label>
                <label class="label label-info">秒杀价:{{item.realPrice}}</label>
                <label class="label label-info">原价:{{item.originalPrice}}</label>
                <img ng-src="{{item.img}}" class="img-responsive"/>
            </div>
            <div ng-repeat-end class="row" ng-if="  $index%4==3"></div>

            <div ng-if="group.filtered.length==0" class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Warning!</strong>
                没有符合条件的商品
            </div>
        </div>
    </uib-tab>
</uib-tabset>
